* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    color:black;

}

#home{
    background: url(background/home.png) no-repeat top;
    height: 1400px;
    background-size: 100%;
    scroll-behavior: smooth;
}

#register{
    background: url(background/home.png) no-repeat bottom;
    height: 650px;
    background-size: 100%;
    scroll-behavior: smooth;
}

.aboutusbtn{
    position: relative;
    top: 9vh;
    left: 7.2vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 1vh 1.5vw;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.participantsbtn{
    position: relative;
    top: 9vh;
    left: 15vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 1vh 3vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}
.emailbtn{
    position: relative;
    top: 9vh;
    left: 59vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 1vh 4vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}
.surveybtn{
    position: relative;
    top: 9vh;
    left: 62vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 1vh 4vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}

#survey{
    background: url(background/survey.png) no-repeat top;
    height: 2300px;
    background-size: 100%;
}
#email{
    background: url(background/9.png) no-repeat top;
    height: 680px;
    background-size: 100%;
}
#p{
    background: url(background/part.png) no-repeat top;
    height: 650px;
    background-size: 100%;
}
#aboutus{
    background: url(background/friends.png) no-repeat top;
    height: 1301px;
    background-size: 100%;
}

.logbtn{
    position: relative;
    top: 73vh;
    left: 8vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 2vh 12vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}

.regbtn{
    position: relative;
    top: 87vh;
    left: -20vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 2vh 12vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}

#login{
    margin-top: 10px;
    background: url(background/3.png) no-repeat top;
    height: 670px;
    background-size: 100%;
}
#register{
    margin-top: 10px;
    background: url(background/4.png) no-repeat top;
    height: 670px;
    background-size: 100%;
}
* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    color:black;

}

#home{
    background: url(background/home.png) no-repeat top;
    height: 1400px;
    background-size: 100%;
    scroll-behavior: smooth;
}

#register{
    background: url(background/home.png) no-repeat bottom;
    height: 650px;
    background-size: 100%;
    scroll-behavior: smooth;
}

.aboutusbtn{
    position: relative;
    top: 9vh;
    left: 7.2vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 1vh 1.5vw;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.participantsbtn{
    position: relative;
    top: 9vh;
    left: 15vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 1vh 3vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}
.emailbtn{
    position: relative;
    top: 9vh;
    left: 59vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 1vh 4vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}
.surveybtn{
    position: relative;
    top: 9vh;
    left: 62vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 1vh 4vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}

#survey{
    background: url(background/survey.png) no-repeat top;
    height: 2300px;
    background-size: 100%;
}
#email{
    background: url(background/9.png) no-repeat top;
    height: 680px;
    background-size: 100%;
}
#p{
    background: url(background/part.png) no-repeat top;
    height: 650px;
    background-size: 100%;
}
#aboutus{
    background: url(background/friends.png) no-repeat top;
    height: 1301px;
    background-size: 100%;
}

.logbtn{
    position: relative;
    top: 73vh;
    left: 8vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 2vh 12vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}

.regbtn{
    position: relative;
    top: 87vh;
    left: -20vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 2vh 12vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}

#login{
    margin-top: 10px;
    background: url(background/3.png) no-repeat top;
    height: 1301px;
    background-size: 100%;
}

.name{
    width: 28%;
    padding: 12px 20px;
    position: relative;
    top: 7vh;
    left: 67vw;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.subject{    
    width: 28%;
    padding: 12px 20px;
    position: fixed;
    top: 20vh;
    left: 67vw;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.message{    
    width: 28%;
    padding: 12px 20px;
    position: fixed;
    margin-top: 14vh;
    margin-left: 66.5vw;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
.submit{
    width: 28%;
    padding: 18px 20px;
    position: fixed;
    top: 85vh;
    left: 68vw;
    margin: 8px 0;
    font-size: 18px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#nudge{
    position: fixed;
    top: 43vh;
    left: 32vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 16vh 8vw;
    border: none;
    outline:none;
    border-color: transparent;
    cursor: pointer;
}

#celly{
    position: fixed;
    top: 78vh;
    left: 14vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 16vh 8vw;
    border: none;
    outline:none;
    border-color: transparent;
    cursor: pointer;
}

#hug{
    position: fixed;
    top: 75vh;
    left: 52vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 16vh 8vw;
    border: none;
    outline:none;
    border-color: transparent;
    cursor: pointer;
}

input[type=text], textarea{
    position:fixed;
    padding-left: 500px;
    width: 30%;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    resize: vertical
}

#rightalign{
    position: relative;
    top: 30vh;
    left: 66.5vw;
}