* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    color:black;
}

#home{
    background: url(background/home.png) no-repeat top;
    height: 2000px;
    background-size: 100%;
}

.aboutusbtn{
    position: relative;
    top: 9vh;
    left: 7.2vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 1vh 1.5vw;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.participantsbtn{
    position: relative;
    top: 9vh;
    left: 15vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 1vh 3vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}
.emailbtn{
    position: relative;
    top: 9vh;
    left: 59vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 1vh 4vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}
.surveybtn{
    position: relative;
    top: 9vh;
    left: 62vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 1vh 4vw;
    border: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}

#survey{
    background: url(background/survey.png) no-repeat top;
    height: 2100px;
    background-size: 100%;
}
#login{
    background: url(background/3.png) no-repeat center;
    height: 650px;
    background-size: 100%;
}
#register{
    background: url(background/4.png) no-repeat center;
    height: 650px;
    background-size: 100%;
}

